{% extends 'main/layout.html' %}

{% block title %}Отчества{% endblock %}

{% block content %}
    <div class="features">
        <h1>Таблица отчество</h1>

        {% if message %}
             <script>alert("{{ message }}")</script>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.otch }}
            <br>
            <input type="submit" class="btn btn-light" value="Добавить">
            <input type="submit" class="btn btn-light" value="Обновить">
        </form>
        <br>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Отчество</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in otch_data %}
                    <tr>
                        <td>{{ item.id_otch }}</td>
                        <td>{{ item.otch }}</td>
                        <td>
                            <a href="{% url 'delete_otch' item.id_otch %}" class="btn btn-danger">Удалить</a>
                            <a href="{% url 'update_otch' item.id_otch %}" class="btn btn-success">Обновить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

